<span class="{{ wrap_classes }} mg-input-wrap">
    <input id="{{ input_id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" class="{{ classes }} mg-input" />
    <span class="validation-wrap" style="display: none;">
        {{ svg('validated') }}
    </span>
</span>