<section id="built-to-last" class="built-to-last mg-background-image {{position}}" style="background-image: url({{ bg|get_timber_image_src('large') }})">
	<div class="built-to-last__body {{position}}">
		<h3 class="built-to-last__title">{{title}}</h3>
		<p class="built-to-last__blurb">{{blurb}}</p>
		<a href="{{button_link}}" class="button button__ghost button__font-base built-to-last__button">
			<span class="built-to-last__link-text">{{button_text}}</span>
		</a>
	</div>
</section>
