<section id="materials-matter" class="materials-matter">
    <div class="wrap">
		<div class="materials-matter__side-image-wrap">
			<img class="materials-matter__side-image" {{ side_image|get_timber_image_responsive('medium') }} />
		</div>
		<div class="materials-matter__body">
			<h3 class="title">{{ title }}</h3>
			<div class="text">{{ text }}</div>
			<a href="{{ btn_link }}" class="button button__small">{{ btn_text }}</a>
		</div>
    </div>
</section>
